.home{
    padding: 0px;
    padding-right: 15px;
}

.home {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    background-color: rgb(53, 123, 166);
    height: 50px;
    color: white;
    font-size: 16px;
}

.navbar > li {
    display: inline;
    padding: 15px;
    line-height: 50px;
}

.footerbar {
    padding-top: 10px;
    padding-left: 0;
    padding-bottom: 10px;
    background-color: rgb(53, 123, 166);
}

.footerbar > li {
    color: white;
    padding-left: 25px;

}

.gymlist {
    list-style-type: none;
    padding-left: 20px;
}

h1 {
    font-size: 20px;
    color: rgb(54, 116, 151);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-size: 16x;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
}

h4 {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h5 {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;

}

.follow {
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.offer {
    color: rgb(53, 123, 166);
    font-weight: bold;
}

.membership {
    color: rgb(232, 129, 50);
    text-transform: uppercase;
    border: solid 2px;
    border-radius: 15px;
    padding: 5px 20px;
    display: inline-block;
}

.membership > p {
    margin: 5px;
}

.socialmedia > p {
    display: inline-block;
    height: 50px;
    width: 125px;
    margin-left: 0px;
    margin-right: 25px;
    text-align: center;
    line-height: 50px;
    color: rgb(249, 245, 254);
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(206, 206, 206);
}

.instagram {
    background-color: rgb(135, 75, 244);
    border: solid 1px rgb(92, 51, 167);
    margin: 0px;
}

.facebook {
    background-color: rgb(53, 120, 234);
    border: solid 1px rgb(37, 82, 161);
    margin: 0px;
}

.youtube {
    background-color: rgb(234, 50, 35);
    border: solid 1px rgb(161, 35, 24);
    margin: 0px;
}

.gymlocations > p {
    display: inline-block;
    height: 50px;
    width: 125px;
    margin-left: 0px;
    margin-right: 25px;
    text-align: center;
    line-height: 50px;
    color: rgb(249, 245, 254);
    text-shadow: 1px 1px 2px rgb(122, 38, 38), 0 0 1em rgb(53, 120, 234), 0 0 0.2em rgb(53, 120, 234);
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(206, 206, 206);
}

.regensburg {
    background-image: url("/images/regensburg.jpg");
    background-size: cover;
    border: solid 2px rgb(53, 120, 234)
}

.berlin {
    background-image: url("/images/berlin.jpg");
    background-size: cover;
    border: solid 2px rgb(53, 120, 234)
}

.munich {
    background-image: url("/images/munich.jpg");
    background-size: cover;
    background-position-y: 65%;
    border: solid 2px rgb(53, 120, 234)
}

.mahballz {
    background-image: url("/images/mahballz.jpg");
    background-size: cover;
    border: solid 2px rgb(53, 120, 234)
}